.add-to-cart-popup-size-wrapper {
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
}

.donate-now label,
.donate-now input {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  border: 1px solid #ccc;
  padding: 0;
  cursor: pointer;
}

.donate-now input[type="radio"] {
  display: none;
}

.donate-now label:hover {
  background: #ddd;
}

.donate-now input[type="radio"]:checked + label {
  background: yellow;
}
