form {
  max-width: 300px;
  position: relative;
  margin: 50px auto 0;
  font-size: 15px;
}
.radiobtn {
  position: relative;
  display: block;
  text-align: center;
}
.radiobtn label {
  display: block;
  background: none;
  color: #01a7e1;
  border-radius: 5px;
  padding: 10px 20px;
  border: 2px solid #01a7e1;
  margin-bottom: 5px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}
input[type="radio"] {
  display: none;
  position: absolute;
  width: 100%;
  appearance: none;
}
input[type="radio"]:checked + label {
  background: #01a7e1;
  color: #fff;
}

.add-to-cart-popup-size-wrapper {
  display: flex;
  flex-direction: row;
}
