@import url("../../../assets/theme/index.css");

.cart-product-item-parent-box {
  display: flex;
  padding-right: 35px;
  border-bottom: 1px solid rgba(173, 181, 189, 0.4);
}
.cart-product-item-child-box:nth-child(1) {
  display: flex;
  flex: 1;
}

.cart-product-item-child-box:nth-child(4) {
  padding: 20px 30px 20px 20px;
  width: 38px;
}

.cart-product-item-child-box:nth-child(3) {
  padding: 20px 90px 20px 10px;
}

.cart-product-item-child-box:nth-child(2) {
  padding: 20px 90px 20px 10px;
}
.cart-product-item-child-box {
  padding: 20px 30px 20px 20px;
  display: flex;
}

.cart-product-item-child-img {
  width: 90px;
  height: 130px;
  overflow: hidden;
  object-fit: cover;
}

.cart-product-item-child-img-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding-left: 20px;
}

.cart-product-item-child-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  font-family: Regular;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  color: #484f56;
}
.cart-product-item-title {
  display: none;
}

.remove-btn-text {
  padding-top: 6px;
  background: none;
  background-color: transparent;
  border: none;
}

/* .cart-product-item-child-item:nth-child(1) {
  padding-left: 20px;
}
.cart-product-item-child-item:nth-child(2) {
  padding-left: 20px;
} */

/* responsive */
@media (max-width: 1024px) {
  .cart-product-item-parent-box {
    display: flex;
    flex-direction: column;
  }
  .cart-product-item-child-img-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .remove-btn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .cart-product-item-child-box {
    padding: 20px 10px 10px 10px;
  }

  .cart-product-item-child-box:nth-child(3) {
    padding: 10px;
  }

  .cart-product-item-child-box:nth-child(2) {
    padding: 10px;
  }

  .cart-product-item-child-box:nth-child(4) {
    padding: 10px;
  }

  .cart-product-item-title {
    display: contents;
  }
}
