.outlined-input {
  border-radius: 0px !important;
}

.coupon-code-input-wrapper {
  margin-top: 18px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.coupon-input {
  min-width: 0 !important;
  width: 41.8%;
  padding: 10px 13px !important;
}

.coupon-btn {
  background-color: #383838 !important;
  padding: 10px 20px !important;
  font-family: Regular;
  border-radius: 2px;
}

.coupon-btn:hover {
  background-color: black !important;
}

/* responsive */
@media (max-width: 1024px) {
  .coupon-input {
    width: 91%;
  }
}
