@import url("../../../assets/theme/index.css");

.empty-screen-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 40px;
  padding: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;

  margin-bottom: 35px;
  text-align: center;
}

.empty-screen {
  color: #d4d4d4;
  font-size: 60px;
  margin-bottom: 24px;
}

.empty-screen-btn {
  background-color: #f1f1f1 !important;
  padding: 10px 20px !important;
  font-family: Regular;
  text-transform: uppercase;
  border-radius: 2px !important;
  color: #353b41 !important;
  font-size: 12px !important;
}

.empty-screen-btn:hover {
  background-color: #e9e9e9 !important;
  color: #353b41 !important;
}

.empty-screen-heading {
  font-family: Bold;
  font-size: 32px;
  color: #484f56;
  margin-bottom: 18px;
}

.empty-screen-body {
  font-family: Regular;
  font-size: 16px;
  color: #484f56;
  margin-bottom: 22px;
}

/* responsive */
@media (max-width: 1024px) {
  .empty-screen-wrapper {
    margin-bottom: 26px;
  }
}
