.dashboard-heading {
  font-family: Bold;
  font-size: 38px;
  color: #484f56;
  margin-bottom: 40px;
}

.dashboard-wrapper {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.dashboard-sidebar-wrapper {
}

.dashboard-body-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* responsive */
@media (max-width: 1024px) {
  .dashboard-wrapper {
    display: flex;
    flex-direction: column;
  }
}
