@import url("../../assets/theme/index.css");
.category-wrapper {
  width: 240px;
  height: 300px;

  position: relative;
  display: flex;
  justify-content: center;
}

.categories-wrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
}

.img-wrapper {
  overflow: hidden;
  border-radius: 6px;
}

.category-name {
  position: absolute;
  bottom: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  font-family: Regular;
  font-size: 16px;
}

@media (max-width: 1024px) {
  .category-wrapper {
    width: 180px;
    height: 175px;
  }
}

@media (max-width: 368px) {
  .category-wrapper {
    width: 140px;
    height: 135px;
  }
}
