.category-wrapper {
  width: 260px;
  height: 300px;
  background-color: red;
  position: relative;
  display: flex;
  justify-content: center;
}

.categories-wrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.responsive-img {
  height: 100%;
  width: 100%;
}

.category-name {
  position: absolute;
  bottom: 20px;
  background-color: rgba(173, 173, 173, 0.8);
  padding: 5px 10px;
}
