.category-wrapper {
  width: 240px;
  height: 300px;

  position: relative;
  display: flex;
  justify-content: center;
}

.categories-wrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
}

.img-wrapper {
  overflow: hidden;
}

.category-name {
  position: absolute;
  bottom: 20px;
  background-color: rgba(173, 173, 173, 0.8);
  padding: 5px 10px;
}
