.cart-total-items-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 20px;
}

.cart-total-items {
  display: flex;
  flex-direction: row;
  width: 50%;
  align-self: flex-end;
  border: 1px solid grey;
  padding: 12px;
  justify-content: space-between;
}

/* responsive */
@media (max-width: 1024px) {
  .cart-total-items {
    width: 100%;
  }
}
