@import url("../../assets/theme/index.css");

.cart-total-items-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 20px;
}

.cart-total-items {
  display: flex;
  flex-direction: row;
  width: 50%;
  align-self: flex-end;
  /* border-bottom: 1px solid grey; */
  padding: 12px;
  justify-content: space-between;
}

.cart-total-text {
  font-family: Bold;
  font-size: 22px;
}

.cart-total-item-text {
  font-family: Regular;
  font-size: 14px;
  color: #4a4f56;
}

.cart-total-item-main-text {
  font-family: Bold;
  font-size: 15px;
  color: #4a4f56;
}

/* responsive */
@media (max-width: 1024px) {
  .cart-total-items {
    width: 100%;
  }
}
