.product-list-wrapper {
  background-color: white;
  padding: 30px 26px;
  display: flex;
  height: calc(100vh - 62px);
  gap: 32px;
  overflow: auto;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: left;
  flex-direction: row;
  flex: 1;
}

/* responsive */
@media (max-width: 1024px) {
  .product-list-wrapper {
    padding: 10px;
    gap: 10px;
  }
}
