@import url("../../../assets/theme/index.css");

.dashboard-address-latest-text {
  color: #484f56;
  font-size: 16px;
  font-family: Regular;
  margin-bottom: 20px;
}

.dashboard-address-title {
  color: #484f56;
  font-size: 24px;
  font-family: Bold;
  margin-bottom: 22px;
}

.add-address-btn-wrapper {
  display: flex;
  justify-content: flex-start;
  margin: 40px 0px;
}

.add-address-btn {
  background-color: #212529 !important;
  padding: 16px 20px !important;
  font-family: Regular;
  text-transform: uppercase;
  border-radius: 2px !important;
  width: 229px;
}

.add-address-btn:hover {
  background-color: black !important;
}
