@import url("../../assets/theme/index.css");

.order-confirmation-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 10px;
}

.congrats-heading-text {
  font-size: 38px;
  font-family: Bold;
  color: #484f56;
}

.congrats-body-text,
.order-id-text {
  font-family: Regular;
  font-size: 16px;
}
