.home-page-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: flex;
  height: calc(100vh - 62px);
  flex-wrap: wrap;
  justify-content: center;
  justify-items: left;
  flex-direction: row;
  flex: 1;
}
