.product-detail-wrapper {
  padding: 30px 26px;
  display: flex;
  height: calc(100vh - 62px);
  overflow: auto;
  width: 100%;
  justify-content: center;
}

/* responsive */
@media (max-width: 1024px) {
  .product-detail-wrapper {
    padding: 20px 30px;
  }
}
