.nav-bar-wrapper {
  position: fixed;
  top: 0;
  z-index: 2;

  background-color: black;
  padding: 0px 30px;
}

.logo {
  width: 136px;
  height: 58px;
}

.nav-icon {
  color: white;
  font-size: 22.5px;
  transition: 0.7s;
  transition-timing-function: ease-in-out;
}

.nav-icon:hover {
  color: rgb(226, 226, 226);
}

.right-content {
  gap: 20px;
}
