.nav-bar-wrapper {
  position: fixed;
  top: 0;
  z-index: 2;

  background-color: black;
  padding: 0px 30px;
}

.logo {
  width: 136px;
  height: 58px;
}

.nav-icon {
  color: white;
  font-size: 22.5px;
  transition: 0.7s;
  transition-timing-function: ease-in-out;
}

.nav-icon:hover {
  color: rgb(226, 226, 226);
}

.right-content {
  gap: 20px;
}

.badge-wrapper {
  padding: 0;
}

.notification {
  right: -1em;
  top: -0.5em;
}

/* responsive */
@media (max-width: 1024px) {
  .nav-bar-wrapper {
    padding: 0px 30px;
  }

  .logo {
    width: 116px;
    height: 58px;
  }
}

@media (max-width: 768px) {
  .nav-bar-wrapper {
    padding: 0px 0px;
  }
  .right-content {
    padding-right: 25px;
  }
  .left-content {
    margin: 0px !important;
    padding-left: 8px;
  }
}
