@import url("../../../assets/theme/index.css");

.dashboard-single-coupon {
  display: flex;
  justify-content: space-between;
  background-color: #f9fafb;
  padding: 20px;
}

.dashboard-coupon-code-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.fa-copy {
  color: #484f56;
}

.tippy-copy {
  background-color: #484f56;
  color: white;
  padding: 4px 6px;
  border-radius: 2px;
  font-family: Regular;
}
