.carousel-wrapper {
  width: 100%;
  height: 383px;
  background-color: black;
}

.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.carousel-arrow-left {
  position: absolute;

  height: 100%;
  left: 20px;
  top: 0;
  display: flex;
  justify-content: center;
}

.carousel-arrow-right {
  position: absolute;
  height: 100%;
  right: 20px;
  top: 0;
  display: flex;
  justify-content: center;
}

.dot-wrapper {
  position: absolute;
  bottom: 8px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.dot-active,
.dot-inactive {
  border-radius: 50%;
  height: 8px;
  width: 8px;
}

.dot-active {
  background-color: black;
}

.dot-inactive {
  background-color: rgb(212, 212, 212);
}

.dot {
  cursor: pointer;
}

.fa-chevron-right,
.fa-chevron-left {
  color: white;
}

/* responsive */
@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}
