.checkout-btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
  flex: 1;
  width: 100%;
}

.checkout-btn-item {
  display: flex;
  flex-direction: column;
  width: 49%;
}

.checkout-btn {
  background-color: #212529 !important;
  padding: 20px 20px !important;
  font-family: Regular;
  text-transform: uppercase;
  border-radius: 2px !important;
  width: 100%;
}

.checkout-btn:hover {
  background-color: black !important;
}

/* responsive */
@media (max-width: 1024px) {
  .checkout-btn-item {
    width: 99%;
  }
}
