.footer-wrapper {
  padding: 60px 50px;
  background-color: black;
  display: flex;
  gap: 80px;
  width: 100%;
}

.icons-wrapper {
  display: flex;
  padding-top: 10px;
  padding-left: 16px;
  gap: 20px;
}

.footer-center-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-right-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-left: 1px solid rgb(77, 77, 77);
  padding-left: 56px;
}

.footer-right-content-icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.built-by-text {
  margin-top: 30px;
}

.copyright-text {
  margin-top: 18px;
}

.card-icon {
  font-size: 30px;
  color: rgb(179, 179, 179);
}

.footer-title-text {
  font-size: 20px;
  font-family: Bold;
}

.footer-text {
  font-size: 14px;
}

.footer-title-text {
  color: white;
}

.footer-text {
  color: rgb(177, 177, 177);
}

/* responsive */
@media (max-width: 1024px) {
  .footer-wrapper {
    padding: 40px 0px;
    gap: 30px;
    flex-direction: column;
  }

  .footer-right-content {
    padding-left: 10px;
  }
}
