@import url("../../../assets/theme/index.css");

.product-detail-img {
  width: 480px;
  height: 480px;
  overflow: hidden;
  object-fit: cover;
}

.single-product-body-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 220px;
}

.product-detail-heart-icon {
  color: black;
}

.brand-name-text,
.name-text,
.price-text,
.tax-text {
  font-family: Regular;
  margin-bottom: 12px;
}

.brand-name-text {
  font-family: Bold;
  text-transform: uppercase;
  font-size: 12px;
  color: #5d5d5d;
}

.name-text {
  font-size: 22px;
  text-transform: capitalize;
}

.price-text {
  font-size: 22px;
  color: #737680;
  margin-bottom: 8px;
}

.tax-text {
  font-size: 12px;
  color: #737680;
  margin-bottom: 20px;
}

.btn-heart-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* responsive */
@media (max-width: 1024px) {
  /* .single-product-body-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
  } */
  .product-detail-img {
    width: 280px;
    height: 280px;
  }
}
