.product-detail-img {
  width: 480px;
  height: 480px;
  overflow: hidden;
  object-fit: cover;
}

.single-product-body-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 100px;
}

.product-detail-heart-icon {
  color: black;
}

/* responsive */
@media (max-width: 1024px) {
  /* .single-product-body-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
  } */
  .product-detail-img {
    width: 280px;
    height: 280px;
  }
}
