@import url("../../../assets/theme/index.css");

.card-wrapper {
  cursor: pointer;
  transition: 0.2s;
  transition-timing-function: linear;
  background-color: #f9fafb;
}

.card-img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.card-wrapper:hover .card-body {
  transform: translate(0, -10px);
}

.card-brand-name {
  text-transform: capitalize;
  color: #818181;
  font-size: 14px;
  font-family: Medium;
  padding: 6px 0px 4px 0px;
  letter-spacing: 1.2px;
}

.card-head {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.card-body {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  transition: 0.2s;
  transition-timing-function: linear;
  justify-content: flex-start;
}

.card-head {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.card-head,
.card-body {
  background-color: white;
}

.card-body {
  background-color: #f9fafb;
  position: relative;
}

.card-heart-btn-wrapper {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

/* .card-info {
  position: relative;
} */

.card-heart-icon {
  position: absolute;
  bottom: 14px;
  right: 14px;
  padding: 0;
  margin: 0;
  font-size: 20px;

  color: rgb(0, 0, 0);

  transition: 0.2s;
  transition-timing-function: linear;
}

/* .icon-wrapper::after .card-heart-icon {
  color: rgb(54, 54, 54) !important;
  font-size: 20px;
} */

/* .card-body:hover {
  transform: translate(0, -10px);
} */

.card-wrapper {
  height: 310px;
  width: 222px;
}

.card-body {
  height: 117px;
}

.card-name,
.card-price {
  color: #484f56;
  font-family: Regular;
  font-size: 16px;
  text-transform: capitalize;
  padding-bottom: 6px;
  letter-spacing: 0.5px;
  line-height: 20px;
}

.primary-btn {
  background-color: black;
  color: white;
  border-radius: 4px;
}

/* responsive */

@media (max-width: 475px) {
  .card-wrapper {
    width: 198px;
  }
}

@media (max-width: 428px) {
  .card-wrapper {
    width: 178px;
  }
}

@media (max-width: 387px) {
  .card-wrapper {
    width: 164px;
  }
}

@media (max-width: 361px) {
  .card-wrapper {
    width: 144px;
  }
}
