@import url("../../../assets/theme/index.css");

.card-wrapper {
  cursor: pointer;
  transition: 0.2s;
  transition-timing-function: linear;
  background-color: white;
}

.card-wrapper:hover .card-body {
  transform: translate(0, -10px);
}

.card-head {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.card-body {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  transition: 0.2s;
  transition-timing-function: linear;
}

.card-head {
  width: 100%;
  overflow: hidden;
}
.card-head,
.card-body {
  background-color: white;
}

.card-body {
  background-color: white;
}

.card-heart-icon {
  padding: 0;
  margin: 0;
  font-size: 22px;
  position: absolute;
  top: 12px;
  color: rgb(233, 233, 233);
  right: 16px;
}

/* .card-body:hover {
  transform: translate(0, -10px);
} */

.card-wrapper {
  height: 310px;
  width: 222px;
}

.card-name,
.card-price {
  color: black;
  font-family: Regular;
}

.primary-btn {
  background-color: black;
  color: white;
  border-radius: 4px;
}

/* responsive */
@media (max-width: 1024px) {
  .card-wrapper {
    width: 144px;
  }
}
