.quick-add-btn-wrapper {
}

.add-to-cart-popup-wrapper {
  position: absolute;
  top: -50px;
  right: -20px;
  background-color: rgb(231, 231, 231);
  width: 250px;
  height: 100px;
  z-index: 10000;
}
