@import url("../../../assets/theme/index.css");

.sizes-text {
  padding-bottom: 10px;
}

.size-text-horizontal {
  font-size: 15px;
  margin-right: 12px;
  font-family: Regular;
  color: #2b2c31;
  display: flex;
  align-items: center;
}

.size-selector-horizontal {
  display: flex;
  flex-direction: row;
}

.size-selector-horizontal label,
.size-selector-horizontal input {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: Medium;
  font-size: 14px;
  letter-spacing: 0.8px;
  color: #616972;
  border: 1px solid #ccc;
  padding: 9px 5px 7px 5px;
  margin: 0;
  cursor: pointer;
}

.size-selector-horizontal input[type="radio"] {
  display: none;
}

.size-selector-horizontal label:hover {
  background: #ddd;
}

.size-selector-horizontal input[type="radio"]:checked + label {
  background: rgb(0, 0, 0);
  color: white;
  border: 1px solid rgb(0, 0, 0);
}
