.list-box {
  padding: 30px;
  height: calc(100vh - 62px);
  background-color: black;
}

.filter-heading {
  font-size: 18px;
  margin-bottom: 8px;
  color: white;
}

.heading-text-wrapper {
  display: flex;
  justify-content: space-between;
}

.categories-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-text {
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 4px 0px;
}
