.list-box {
  padding: 30px;
  height: 90vh;
  background-color: black;
}

* {
  color: white;
}

.filter-heading {
  font-size: 18px;
  margin-bottom: 8px;
}

.heading-text-wrapper {
  display: flex;
  justify-content: space-between;
}

.categories-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
